  <p class="h2 text-center">Add product</p>
  <hr>
  <form #f="ngForm" (ngSubmit)="f.form.valid && createProduct()">
    <div class="form-group row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Title</mat-label>
          <input matInput type="text"
                 id="title"
                 name="title"
                 (input)="update()"
                 [(ngModel)]="rqst.title"
                 #title="ngModel"
                 maxlength="255"
                 [matAutocomplete]="auto"
                 required>
          <mat-error *ngIf="title.errors?.required">Title is required</mat-error>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="onProductSelect(product)"  *ngFor="let product of filteredProducts " [value]="product.title">
              {{ product.title }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Undertitle</mat-label>
          <input matInput type="text"
                 id="undertitle"
                 name="undertitle"
                 [(ngModel)]="rqst.underTitle"
                 #underTitle="ngModel"
                 maxlength="255"
                 required>
          <mat-error *ngIf="underTitle.errors?.required">Undertitle is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Price</mat-label>
          <input matInput type="number"
                 id="price"
                 name="price"
                 [(ngModel)]="rqst.price"
                 #price="ngModel"
                 min="0" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189"
                 required>
          <mat-error *ngIf="price.errors?.required">Price is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Discount</mat-label>
          <input matInput type="number"
                 id="discount"
                 name="discount"
                 [(ngModel)]="rqst.discount"
                 #discount="ngModel"
                 min="0" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189">
          <mat-error *ngIf="discount.hasError('max')">Discount cannot be higher than price!</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Category</mat-label>
          <input matInput type="text"
                 id="category"
                 name="category"
                 (input)="updateCategories()"
                 [(ngModel)]="rqst.category"
                 maxlength="255"
                 [matAutocomplete]="categ">
          <mat-autocomplete #categ="matAutocomplete">
            <mat-option *ngFor="let category of filteredCategories " (onSelectionChange)="onCategorySelect(category)" [value]="wrd(category,category.name).split('-')[0].trim()">
              {{wrd(category,category.name)}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Parent categories</mat-label>
          <input matInput type="text"
                 id="upperCategories"
                 name="upperCategories"
                 maxlength="255"
                 [value]="ctgr"
                 [disabled]="true"
                 required>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Brand(Only for new product)</mat-label>
          <input matInput type="text"
                 id="brand"
                 name="brand"
                 (input)="updateBrands()"
                 [(ngModel)]="rqst.brand"
                 #brand="ngModel"
                 maxlength="255"
                 [matAutocomplete]="brandd">
          <mat-autocomplete #brandd="matAutocomplete">
            <mat-option *ngFor="let brand of filteredBrands " [value]="brand">
              {{ brand }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <mat-slide-toggle (change)="rqst.enabled=!rqst.enabled" color="primary" [checked]="rqst.enabled">{{rqst.enabled? 'Enabled sale':'Closed sale'}}</mat-slide-toggle>
      </div>
    </div>
    <hr>
    <div *ngFor="let numFdvs of nod;let i=index" class="form-group row">
      <div class="col-3">
        <mat-form-field class="w-100">
          <mat-label>Size</mat-label>
          <input matInput type="text"
                 [(ngModel)]="nod[i].size"
                 [id]="'size'+i"
                 [name]="'size'+i"
                 #size="ngModel"
                 maxlength="255" required>
          <mat-error *ngIf="size.errors?.required">Size is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="w-100">
          <mat-label>On stock</mat-label>
          <input matInput type="number"
                 [(ngModel)]="nod[i].onStock"
                 [id]="'onStock'+i"
                 [name]="'onStock'+i"
                 #onStock="ngModel"
                 oninput="validity.valid||(value='');" min="1"
                 onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                 required>
          <mat-error *ngIf="onStock.errors?.required">On stock is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <button type="button" *ngIf="i===0" (click)="add()" mat-mini-fab color="primary" class="mr-1">
          <mat-icon>add</mat-icon>
        </button>
        <button type="button" *ngIf="nod.length>1" (click)="delete(i)" mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <label for="file-upload" class="custom-file-upload  mt-3">
          <i class="fas fa-cloud-upload-alt"></i> Add images
        </label>
        <input #myFileInput id="file-upload" type="file" name="file-upload" multiple (change)="selectFiles($event)"
               accept="image/*"/>
      </div>
      <div class="ml-auto mr-3">
        <button type="button" *ngIf="images.length>0" class="mt-2" mat-flat-button (click)="images=[];imgURL=[]">
          <mat-icon style="-webkit-text-fill-color:red">delete</mat-icon>
          Delete all
        </button>
      </div>
    </div>
    <hr *ngIf="images.length>0 && imgURL.length>0">
    <div class="row imdiv">
      <div *ngFor="let img of imgURL;let i=index" class="box">
        <img class="imagee" [src]="img">

        <button  type="button" (click)="removeSelectedFile(i)" mat-mini-fab color="warn" class="af" style="left: 65%" >
          <mat-icon>delete</mat-icon>
        </button>
        <button class="af" style="left: 35%"  type="button" mat-mini-fab color="primary" (click)="openInput(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <input (change)="selectFile(i,$event)" id="fileInput{{i}}" hidden type="file"  name="file{{i}}" accept="image/*">
      </div>
    </div>
    <hr>
    <div class="form-group row">
      <div class="col-12">
        <ckeditor [config]="editorConfig" [(ngModel)]="rqst.description" [editor]="Editor" name="content" id="content"
                  (ready)="onReady($event)"></ckeditor>
      </div>
    </div>
    <div class="row">
      <div class="text-center col ">
        <button type="submit" mat-raised-button color="primary"><i class="fas fa-save mr-2"></i>Save product</button>
      </div>
    </div>
  </form>


