img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.xd {
  margin-left: -40px;
}
.akcie {
  font-size: 23px;
  vertical-align: bottom;
  cursor: pointer;
}

.dada {
  border: 1px red solid;
  padding: 1px 3px 1px 3px;
  background-color: rgba(255, 230, 230, 0.8);
}
*{
  font-size: 13px;
}


.mat-column-select{
  flex: 0 0 10%;
}
.mat-column-id{
  flex: 0 0 15%;
}

.mat-column-title{
  flex: 0 0 20%;
}

.search-icon {
  font-size: 17px;
}

