.carousel-animation .carousel-item {
  transform: none;
}

.carousel-caption {
  top: 40%;
  bottom: 20%;
  text-align: left;
  animation-name: bounceInLeft;
  animation-duration: 1.7s;
}

@media only screen and (max-width: 1100px) {
  .carousel-caption {
    top: 20%;
  }
}

@media only screen and (max-width: 739px) {
  .carousel-caption {
    top: 0%;
  }
}

.carousel-caption.active {
  transform: translate(0, 0);
  animation-name: bounceInLeft;
}

.carousel .carousel-control-prev, .carousel-control-next, .carousel-indicators {
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
}

.carousel:hover > .carousel-indicators {
  opacity: 1;
  visibility: visible;
  transition: all .5s ease-in-out;
}

.carousel:hover > .carousel-control-prev {
  opacity: 1;
  visibility: visible;
  transition: all .5s ease-in-out;
}

.carousel:hover > .carousel-control-next {
  opacity: 1;
  visibility: visible;
  transition: all .5s ease-in-out;
}

.txt {
  font-size: 23px;
}

.carousel .carousel-item {
  transition-duration: 0.5s;
}

.haha {
  height: 20px;
  width: 20px;
}


.sliderr {
  height: 100px;
  position: relative;
  background: white;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}

.slidee {
  height: 100px;
  display: flex;
  align-items: center;
  animation: slideshow 8s linear infinite;
}

.slidee img {
  height: 70px;
  padding: 0 30px 0 30px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sliderr::before, .sliderr::after {
  height: 100px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.sliderr::before {
  left: 0;
  top: 0;
}

.sliderr::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.carousel-button {
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #22a8e6;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.carousel-button:hover {
  background-color: #22a8e6;
}

.total {
  background: #06beb6;
  background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
  background: linear-gradient(to right, #48b1bf, #06beb6);
  color: white;
  text-align: center;
}

hr {
  background-color: white;
  height: 1px;
  border: 0;
}
.my-fab {
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 0;
}

.mat-icon {
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
}
