<mat-tab-group mat-stretch-tabs>
  <mat-tab label="User info"  >
    <div class="row mt-3 justify-content-center">
    <img class="photo" [src]="apiUrl+'api/image/'+ data.image"/>
      <div class="col-9 mt-4">
        <div class="row d-flex justify-content-center justify-content-md-start">
          <p class="ml-3 h2" >{{data.name}}</p>
          <mat-chip-list class="ml-3">
            <mat-chip [ngStyle]="{'background-color':data.role?.color}" selected>{{data.role?.name}}</mat-chip>
            <mat-chip *ngIf="data.nonLocked===false && data.lockedTill==='PERMANENTLY'" color="warn" selected>Locked {{data.lockedTill}}</mat-chip>
            <mat-chip *ngIf="data.nonLocked===false && data.lockedTill!=='PERMANENTLY'" color="warn" selected>Locked till {{data.lockedTill}}</mat-chip>
          </mat-chip-list>
        </div>
        <hr class="prvaCiara mb-5">
      </div>
    </div>
    <table class="table mt-4 mb-5">
      <tbody>
      <tr>
        <th>Id:</th>
        <td>{{data.id}}</td>
      </tr>
      <tr>
        <th>Gender:</th>
        <td>{{data.gender}}</td>
      </tr>
      <tr>
        <th>Registration date:</th>
        <td>{{data.registrationDate}}</td>
      </tr>
      <tr>
        <th>Email:</th>
        <td>{{data.email}}</td>
      </tr>
      <tr>
        <th>Tel. number:</th>
        <td>{{data.telNumber}}</td>
      </tr>
      <tr>
        <th>City:</th>
        <td>{{data.city}}</td>
      </tr>
      <tr>
        <th>Address:</th>
        <td>{{data.address}}</td>
      </tr>
      <tr>
        <th>Country:</th>
        <td>{{data.country}}</td>
      </tr>
      <tr>
        <th>Postal code:</th>
        <td>{{data.postalCode}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table mt-5">
      <tbody>
      <tr>
        <th>Permissions:</th>
        <td>{{data.role.permissions}}</td>
      </tr>
      <tr>
        <th>Is enabled:</th>
        <td> <mat-slide-toggle color="primary" [checked]="data.enabled" [disabled]="true"></mat-slide-toggle></td>
      </tr>
      <tr>
        <th>Two ph. authentication:</th>
        <td>  <mat-slide-toggle color="primary" [checked]="data.twoPhVerEnabled" [disabled]="true"></mat-slide-toggle></td>
      </tr>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="Orders" *ngIf="dataSource.data.length>0">
    <div class="row mt-3 justify-content-center">
      <img class="photo" [src]="apiUrl+'api/image/'+ data.image"/>
      <div class="col-9 mt-4">
        <div class="row d-flex justify-content-center justify-content-md-start">
          <h2 class="ml-3" >{{data.name}}</h2>
          <mat-chip-list class="ml-3">
            <mat-chip [ngStyle]="{'background-color':data.role?.color}" selected>{{data.role?.name}}</mat-chip>
            <mat-chip *ngIf="data.nonLocked===false && data.lockedTill==='PERMANENTLY'" color="warn" selected>Locked {{data.lockedTill}}</mat-chip>
            <mat-chip *ngIf="data.nonLocked===false && data.lockedTill!=='PERMANENTLY'" color="warn" selected>Locked till {{data.lockedTill}}</mat-chip>
          </mat-chip-list>
        </div>
        <hr class="prvaCiara mb-5" >
      </div>
    </div>
    <hr class="ciara" >
    <mat-table [dataSource]="dataSource" *ngIf=" dataSource.data.length>0">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Order Id</mat-header-cell>
        <mat-cell *matCellDef="let order" >
          <span class="mobile-label">Order ID:</span> <a  (click)="openDialogViewOrder(order)" href="javascript:void(0)">#{{order.id}}</a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="payment">
        <mat-header-cell *matHeaderCellDef >Payment</mat-header-cell>
        <mat-cell *matCellDef="let order">   <span class="mobile-label">Payment:</span>{{order.cart_orderPayment.payment.split("_").join(" ")}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="orderState">
        <mat-header-cell *matHeaderCellDef > Order state</mat-header-cell>
        <mat-cell *matCellDef="let order"> <span class="mobile-label">Order state:</span>
          <div [ngClass]="{'paid':order.orderState==='PAID','processing':order.orderState==='PROCESSING','completed':order.orderState==='COMPLETED','refunded':order.orderState==='REFUNDED','CANCELED':order.orderState==='CANCELED','shipped':order.orderState==='SHIPPED','awaiting_payment':order.orderState==='AWAITING_PAYMENT'}">{{order.orderState.split("_").join(" ")}} </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef > Date</mat-header-cell>
        <mat-cell *matCellDef="let order">  <span class="mobile-label">Date:</span> {{order.created}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="totalPrice">
        <mat-header-cell *matHeaderCellDef > Price</mat-header-cell>
        <mat-cell *matCellDef="let order">  <span class="mobile-label">Price:</span>{{order.totalPrice | number : '1.2-2' }}€</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator #paginator [pageSizeOptions]="[1,5,10,15,25,50,100]" [pageSize]="5" [length]="total" (page)="nextPage()" showFirstLastButtons>
    </mat-paginator>
  </mat-tab>
</mat-tab-group>

